@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}
html, body {
  margin: 0;
  background: transparent;
}
#root {
  isolation: isolate; /* đảm bảo nền ở đúng layer */
}
h1, h2, h3, p { margin-block: 0; }

.background-glass{
  background-color: rgba(255, 255, 255, 0.25);
  /* border-radius: 16px; */
  border: 1px solid rgba(255, 255, 255, 0.18);
}