# .NET
**/[Bb]in/
**/[Oo]bj/
*.user
*.suo
*.vs/
*.vscode/ # Nếu bạn không muốn chia sẻ cài đặt VS Code
*.pdb
*.nupkg
appsettings.Development.json
appsettings.*.json # Nếu bạn có các appsettings riêng tư khác

# Frontend
ECommerce_FE/node_modules/
ECommerce_FE/dist/
ECommerce_FE/.env
ECommerce_FE/.env.*
ECommerce_FE/coverage/

# Uploads folder for backend
ECommerce_BE/ECommerce_API/wwwroot/uploads/